/target/
*.secret
*.[pP][nN][gG]
*.[jJ][pP][gG]
*.[jJ][pP][eE][gG]
*.[dD][nN][gG]
*.[hH][eE][iI][cC]
*.[aA][vV][iI][fF]
*.[jJ][pP]2
*.[jJ]2[kKcC]
*.[jJ][pP][cC]
/dng-png-viewer.static
/dng-png-viewer
